<!-- templates/covid.html -->

{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1>Covid-19 Perú (2020) por Meses</h1>

<img src="{% static 'cuadro_marzo_2020.png'%}" class="img-fluid" alt="Responsive image">
<p></p>
<img src="{% static 'cuadro_marzo_f.png'%}" class="img-fluid" alt="Responsive image">
<p></p>
<img src="{% static 'cuadro_abril.png'%}" class="img-fluid" alt="Responsive image">
<p></p>
<img src="{% static 'cuadro_abril_f.png'%}" class="img-fluid" alt="Responsive image">
<p></p>
<img src="{% static 'cuadro_mayo.png'%}" class="img-fluid" alt="Responsive image">
<p></p>
<img src="{% static 'cuadro_mayo_f.png'%}" class="img-fluid" alt="Responsive image">
<p></p> 
<img src="{% static 'cuadro_junio.png'%}" class="img-fluid" alt="Responsive image">
<p></p>
<img src="{% static 'cuadro_junio_f.png'%}" class="img-fluid" alt="Responsive image">
<p></p>
<img src="{% static 'cuadro_julio.png'%}" class="img-fluid" alt="Responsive image">
<p></p>
<img src="{% static 'cuadro_julio_f.png'%}" class="img-fluid" alt="Responsive image">
<p></p>
<img src="{% static 'cuadro_agosto.png'%}" class="img-fluid" alt="Responsive image">
<p></p>
<img src="{% static 'cuadro_agosto_f.png'%}" class="img-fluid" alt="Responsive image">
<p></p>
<img src="{% static 'cuadro_setiembre.png'%}" class="img-fluid" alt="Responsive image">
<p></p>
<img src="{% static 'cuadro_setiembre_f.png'%}" class="img-fluid" alt="Responsive image">
<p></p>
<img src="{% static 'cuadro_octubre.png'%}" class="img-fluid" alt="Responsive image">
<p></p>
<img src="{% static 'cuadro_octubre_f.png'%}" class="img-fluid" alt="Responsive image">
<p></p>
<img src="{% static 'cuadro_noviembre.png'%}" class="img-fluid" alt="Responsive image">
<p></p>
<img src="{% static 'cuadro_noviembre_f.png'%}" class="img-fluid" alt="Responsive image">
<p></p>
<img src="{% static 'cuadro_diciembre.png'%}" class="img-fluid" alt="Responsive image">
<p></p>
<img src="{% static 'cuadro_diciembre_f.png'%}" class="img-fluid" alt="Responsive image">
<p></p>
{% endblock content %}