<!-- templates/covid.html -->

{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1>Covid-19 Perú (2020) por Meses</h1>

<img src="{% static 'cuadro_marzo_2020.png'%}" class="img-fluid" alt="Positivo covid-19. Marzo 2020">
<p></p>
<img src="{% static 'cuadro_marzo_f.png'%}" class="img-fluid" alt="Fallecidos covid-19. Marzo 2020">
<p></p>
<img src="{% static 'cuadro_abril.png'%}" class="img-fluid" alt="Positivo covid-19. Abril 2020">
<p></p>
<img src="{% static 'cuadro_abril_f.png'%}" class="img-fluid" alt="Fallecidos covid-19. Abtil 2020">
<p></p>
<img src="{% static 'cuadro_mayo.png'%}" class="img-fluid" alt="Positivo covid-19. Mayo 2020">
<p></p>
<img src="{% static 'cuadro_mayo_f.png'%}" class="img-fluid" alt="Fallecidos covid-19. Mayo 2020">
<p></p> 
<img src="{% static 'cuadro_junio.png'%}" class="img-fluid" alt="Positivo covid-19. Junio 2020">
<p></p>
<img src="{% static 'cuadro_junio_f.png'%}" class="img-fluid" alt="Fallecidos covid-19. Junio 2020">
<p></p>
<img src="{% static 'cuadro_julio.png'%}" class="img-fluid" alt="Positivo covid-19. Julio 2020">
<p></p>
<img src="{% static 'cuadro_julio_f.png'%}" class="img-fluid" alt="Fallecidos covid-19. Julio 2020">
<p></p>
<img src="{% static 'cuadro_agosto.png'%}" class="img-fluid" alt="Positivo covid-19. Agosto 2020">
<p></p>
<img src="{% static 'cuadro_agosto_f.png'%}" class="img-fluid" alt="Fallecidos covid-19. Agotso 2020">
<p></p>
<img src="{% static 'cuadro_setiembre.png'%}" class="img-fluid" alt="Positivo covid-19. Setiembre 2020">
<p></p>
<img src="{% static 'cuadro_setiembre_f.png'%}" class="img-fluid" alt="Fallecidos covid-19. Setiembre 2020">
<p></p>
<img src="{% static 'cuadro_octubre.png'%}" class="img-fluid" alt="Positivo covid-19. Octubre 2020">
<p></p>
<img src="{% static 'cuadro_octubre_f.png'%}" class="img-fluid" alt="Fallecidos covid-19. Octubre 2020">
<p></p>
<img src="{% static 'cuadro_noviembre.png'%}" class="img-fluid" alt="Positivo covid-19. Noviembre 2020">
<p></p>
<img src="{% static 'cuadro_noviembre_f.png'%}" class="img-fluid" alt="Fallecidos covid-19. Noviembre 2020">
<p></p>
<img src="{% static 'cuadro_diciembre.png'%}" class="img-fluid" alt="Positivo covid-19. Diciembre 2020">
<p></p>
<img src="{% static 'cuadro_diciembre_f.png'%}" class="img-fluid" alt="Fallecidos covid-19. Diciembre 2020">
<p></p>
{% endblock content %}